/* Starry Sky Background */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.2s ease-out;
}

#stars1 {
    background: transparent url('https://www.script-tutorials.com/demos/360/images/stars.png') repeat top center;
    z-index: 0;
    animation: move-twink-back 200s linear infinite;
}

#stars2 {
    background: transparent url('https://www.script-tutorials.com/demos/360/images/twinkling.png') repeat top center;
    z-index: 1;
    animation: move-twink-back 150s linear infinite;
}

#stars3 {
    background: transparent url('https://www.script-tutorials.com/demos/360/images/clouds.png') repeat top center;
    z-index: 2;
    animation: move-twink-back 100s linear infinite;
}

.bg-gradient-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-stops));
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 0.5;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
